@model COMP003B.SP25.FinalProject.SalinasJ.Models.Organizer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Organizer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>

<!-- Displays the events that a organzier has Organized -->
<div class="col-md-4">
    <h4>Events Organized</h4>
    <ul>
        @foreach (var eventItem in ViewBag.Events)
        {
            <li>@eventItem.Title</li>
        }

    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrganizerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
